---
import Layout from "@/layouts/Layout.astro";
import SearchMovieGrid from "@/components/SearchMovieGrid.astro";
import { listQueryFromRequest } from "@/lib/phimapi";

const requestUrl = new URL(Astro.request.url);
const searchParams = requestUrl.searchParams;
const filters = listQueryFromRequest(searchParams);
---

<Layout title="Astro flim.">
    <main>
        <div class="flex flex-col items-center mt-2">
            <!-- Movies Grid -->
            <div class="mx-4 sm:mx-6 md:mx-8 lg:mx-12 xl:mx-20">
                <SearchMovieGrid filters={filters} />
            </div>
        </div>
    </main>
</Layout>
